<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!--扫描添加处理器-->
    <context:component-scan base-package="com.yaorange.web"/>
    <!--添加注解驱动：便于使用特殊注解如：json-->
    <mvc:annotation-driven/>
    <!--前后端不分离项目：视图解析器-->
    <!--<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">-->
    <!--<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>-->
    <!--<property name="prefix" value=""/>-->
    <!--<property name="suffix" value=".jsp"/>-->
    <!--</bean>-->
    <!--前后端不分离项目：静态放行-->
    <!--<mvc:default-servlet-handler/>-->

    <!--前后端分离：跨域配置-->
    <!--配置全局跨域：局部跨域是在处理器类上或方法上使用注解-->
    <!-- job-->
    <!-- 加入需要执行的类 -->
    <bean id="mailJob" class="com.yaorange.utils.MailJob"/>

    <!-- jobDetails-->
    <!-- 加入定时执行的方法 -->
    <bean id="mailJobDetails" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <!-- 定时执行的类 -->
        <property name="targetObject" ref="mailJob"/>
        <!-- 具体的方法 -->
        <property name="targetMethod" value="sendMail"/>
    </bean>

    <!-- trigger-->
    <!-- 调度触发器，设置自己想要的时间规则 -->
    <bean id="mailTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <!-- 加入相关的执行类和方法 -->
        <property name="jobDetail" ref="mailJobDetails"/>
        <!-- 设置时间规则 （为了方便测试，设置成一秒一次。具体的规则见详情）-->
        <property name="cronExpression" value="* * * * * ?"/>
    </bean>

    <!--scheduler-->
    <bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="mailTrigger"/>
            </list>
        </property>
    </bean>
</beans>